@font-face {
  font-family: "easyJet Rounded Book";
  src: url("../fonts/easyJetRoundedBook.eot");
  src: url("../fonts/easyJetRoundedBook.eot?#iefix") format("embedded-opentype"),
    url("../fonts/easyJetRoundedBook.woff2") format("woff2"),
    url("../fonts/easyJetRoundedBook.woff") format("woff"),
    url("../fonts/easyJetRoundedBook.ttf") format("truetype"),
    url("../fonts/easyJetRoundedBook.svg#easyJetRoundedBook") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
    font-family: 'easyJet Rounded Demi';
    src: url('easyJetRoundedDemi.eot');
    src: url('easyJetRoundedDemi.eot?#iefix') format('embedded-opentype'),
        url('easyJetRoundedDemi.woff2') format('woff2'),
        url('easyJetRoundedDemi.woff') format('woff'),
        url('easyJetRoundedDemi.ttf') format('truetype'),
        url('easyJetRoundedDemi.svg#easyJetRoundedDemi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

